:root {
  --mainColor: rgb(184, 173, 193);
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li {
  display: inline;
  justify-content: space-evenly;
}
h1,
h2 {
  color: darkmagenta;
}

h3 {
  color: blueviolet;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--mainColor);
}

.page {
  flex-grow: 1;
  width: 100vw;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.name {
  width: 40%;
  height: 30%;
  border: 6px dashed rgb(101, 101, 206);
}

.theName {
  display: flex;
  justify-content: space-evenly;
}

#talent {
  display: flex;
  justify-content: center;
}
.img {
  height: 200px;
  border: 6px dashed rgb(101, 101, 206);
  border-radius: 10px;
}

.sectionBackground {
  border-radius: 10px;
  background-color: honeydew;
  padding: 10px;
}

.aboutMe {
  width: 70%;
  border: 12px dashed rgb(101, 101, 206);
}

.work {
  width: 60%;
}

.cards {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
}

.card {
  width: 150px;
  border: 6px dashed rgb(101, 101, 206);
  margin: 5px;
}

.card:hover {
  width: 200px;
  border: 6px dashed rgb(87, 210, 87);
}

.contactMe {
  width: 70%;
  border: 12px dashed rgb(101, 101, 206);
}
