.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper > * {
  padding: 20px;
}

.wrapper {
  background-color: rgb(184, 173, 193);
}

.page {
  flex-grow: 1;
}

#name {
  width: 350px;
  padding: 10px;
  border: 6px dashed rgb(101, 101, 206);
  border-radius: 10px;
  background-color: honeydew;
}

h1 {
  color: darkmagenta;
}
h2 {
  color: darkmagenta;
}

h3 {
  color: blueviolet;
}

.aboutMe {
  width: 750px;
  padding: 10px;
  border: 12px dashed rgb(101, 101, 206);
  border-radius: 10px;
  background-color: honeydew;
}

.work {
  width: 750px;
  padding: 10px;
  border: 12px dashed rgb(101, 101, 206);
  border-radius: 10px;
}

.ContactMe {
  width: 750px;
  padding: 10px;
  border: 12px dashed rgb(101, 101, 206);
  border-radius: 10px;
  background-color: honeydew;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 150px;
  padding: 10px;
  border: 6px dashed rgb(101, 101, 206);
  border-radius: 10px;
  background-color: honeydew;
}
